configuration {
  modi:                     "drun";
  show-icons:               false;
  font:                     "JetBrainsMono Nerd Font Bold 12";
  me-select-entry: "";
  me-accept-entry: "MousePrimary";
  me-accept-custom: "MouseMiddle";
  hover-select: true;
}
