@define-color background #1e1e2e;
@define-color current_line #313244;
@define-color foreground #cdd5f4;
@define-color comment #6272A4;
@define-color green #25d865;
@define-color orange #FFB86C;
@define-color pink #FF79C6;
@define-color purple #BD93F9;
@define-color lavander #b4befe;
@define-color cyan2 #43ff64;



.modules-left {
    font-family:     "FiraCode, JoyPixels";
    font-size:      15px;
}

.modules-center {
    font-family:    "FiraCode, JoyPixels";
    font-size:      15px;
}

.modules-right {
    font-family:    "FiraCode";
    font-size:      12px;
}




window#waybar {
    background: none;
    color: black;


}


/* === work spaces === */

#workspaces {
    min-width: 0px;
    background:         @background;
    padding:            0px 0px 0px 0px;
    border-color: @lavander;
    border-width: 2px;
    border-style: solid;
    border-radius: 12px;
}

#workspaces button {
    margin:             0px 0px 0px 0px;
    padding:            0px 20px 0px 20px;
    border-radius: 12px;
    color:              @foreground;
    background:         @background;
}



#workspaces button:hover {
    color:              @white;
    background:         @current_line;
    border-radius:      12px;
    box-shadow:         none;
    text-shadow:        none;
}

#workspaces button.persistent {
    color:              @white;
    background:         @background;
    border-radius:      12px;
    border-color: @background;

    padding-left: 20px;
    padding-right: 20px;
    box-shadow:         none;
    text-shadow:        none;
}

#workspaces button.active {
    color:              @foreground;
    background:         @current_line;
    border-radius:      12px;
    padding-left: 20px;
    padding-right: 20px;
}



#custom-notification {
	color: @background;
}


#tray, #clock, #custom-notification, #battery{
  min-width: 100px;
    font-size: 15px;
    background: @background;
    color: @foreground;

  border-color: @lavander;
  border-width: 2px;
  border-style: solid;
  border-radius: 12px;

}


#clock{
    margin-right: 10px;
}


