@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

window#waybar.bar {
    background:         @base;
    color:              @text;
    font-family:        JetBrainsMonoNL NFM Light;
    border-radius:      0px;
}
window#waybar.taskbar {
    background:         none;
    color:              @text;
    font-family:        JetBrainsMonoNL NFM Light;
    border-radius:      0px;
}




/* === work spaces === */

#workspaces {
    min-width:          0px;
    background:         @base;
    padding:            0px 0px 0px 0px;
    font-family:        "JoyPixels";
    margin:             0px 10px;
}

#workspaces button {
    margin:             0px 0px 0px 0px;
    padding:            0px 20px 0px 20px;
    color:              @green;
    background:         @base;
    border-width:       2px;

    border-color:       transparent;
    border-style:       solid;
}


#workspaces button.active {
    color:              @background;
    background:         @base;
    border-top-color:   @green;
    padding-left:       20px;
    padding-right:      20px;

}

#workspaces button:hover{
    border-top-width:   4px;
    border-radius:      0;
    border-color:       transparent;
    border-top-color:   @mauve;
    background:         transparent;
    color:              transparent;
}






#tray, #clock, #battery {
    min-width:          100px;
    font-size:          15px;
    background:         @background;
    color:              @foreground;
}

/* tasksksk bar*/
#taskbar button {
    background:         transparent;
    padding-left:       10px;
    padding-right:      9px;
    border-radius:      0px 0px 0px 0px;
    border:             0px solid transparent;
    color:              transparent;
}
#taskbar button:hover {
    padding-left:       10px;
    padding-right:      9px;
    border-radius:      0px 0px 0px 0px;
    border:             0px solid transparent;
    color:              transparent;
    border-bottom-width:60px;
    background:         transparent;
}
