@define-color background #000000;
@define-color cyan1 #33ccff;



.modules-right {
    font-family:    "FiraCode";
    font-size:      15px;
}

.modules-center {
    font-family:    "Cousine";
    font-size:      15px;
}

.modules-left {
    font-family:    "JoyPixels";
    font-size:      15px;
}



window#waybar {
    background: none;
    color: black;


}


/* === work spaces === */

#workspaces {
    min-width: 0px;
    background:         @background;
    padding:            0px 0px 0px 0px;
    border-color: @cyan1;
    border-width: 2px;
    border-style: solid;
    border-radius: 12px;
}

#workspaces button {
    margin:             0px 0px 0px 0px;
    padding:            0px 20px 0px 20px;
    color:              @foreground;
    background:         @background;
}



#workspaces button:hover {
    color:              @white;
    background:         @current_line;
    border-radius:      0px;
    box-shadow:         none;
    text-shadow:        none;
}

#workspaces button.persistent {
    color:              @white;
    background:         @background;
    border-radius:      12px;
    border-color: @background;

    box-shadow:         none;
    text-shadow:        none;
}

#workspaces button.active {
    color:              @background;
    background:         @background;
    border-radius:      9px;
    padding-left: 20px;
    padding-right: 20px;

    border-color: @cyan1;
}





#tray, #clock, #keyboard-state, #battery{
  min-width: 240px;
    font-size: 15px;
    background: @background;
    color: @foreground;
  font-family:    "0xProto Nerd Font";
  border-color: @cyan1;
  border-width: 2px;
  border-style: solid;
  border-radius: 12px;

}


#clock{
    margin-right: 10px;
}
#keyboard-state label {

    color: gray;

}
#keyboard-state label.locked {
    font-size:      15px;
    color: @cyan1;

}




#battery {
    font-size:          13.5px;
    color:         green;
}
#battery.warning {
    color:         yellow;
}
#battery.critical {
    color:         red;
}
#battery.charging {
    color:         green;
}
